<div class="row" >
  <!-- <div class="input-group">
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text"></span>
    </div>
  </div> -->
  <div class="row" style="margin: 10px 0; border: 1px solid lightgray; height: height;">

    <h5 style="padding: 10px">Filter By</h5>
    <hr class="w-100">
    <ul class="list-group w-100">

      <!-- filter by rate -->
      <li class="list-group-item"> Rate
        <ul>
          <li style="list-style-type: none;">
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> -->
              <mat-checkbox>Up to 3</mat-checkbox>
              <!-- <label class="form-check-label" for="defaultCheck1">
                Up to 3
              </label> -->
            </div>
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                Up to 5
              </label> -->
              <mat-checkbox>Up to 5</mat-checkbox>
              
            </div>
          </li>
        </ul>
      </li>

      <div class="dropdown-divider"></div>

      <!-- filter by game -->
      <li class="list-group-item"> Game
        <ul>
          <li style="list-style-type: none;">
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Football
              </label> -->
              <mat-checkbox>Football</mat-checkbox>
              
            </div>
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                Tennis
              </label> -->
              <mat-checkbox>Tennis</mat-checkbox>
              
            </div>
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                Chess
              </label> -->
              <mat-checkbox>Chess</mat-checkbox>
              
            </div>
            <div class="form-check">
              <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
              <label class="form-check-label" for="defaultCheck4">
                Ping Pong
              </label> -->
              <mat-checkbox>Ping Pong</mat-checkbox>
              
            </div>
          </li>
        </ul>
      </li>

      <div class="dropdown-divider"></div>

      <!-- filter by game type -->
      <li class="list-group-item"> Game Type
          <ul>
            <li style="list-style-type: none;">
              <div class="form-check">
                <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Individual Player
                </label> -->
              <mat-checkbox>Individual Player</mat-checkbox>
                
              </div>
              <div class="form-check">
                <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                  Multi Player
                </label> -->
              <mat-checkbox>Multi Player</mat-checkbox>
                
              </div>
            </li>
          </ul>
        </li>
    </ul>
  </div>
</div>