<div class="" style="padding: 10px ; height: height;">
  <div id="sortby" >
    <p class="" style="margin: 5px; font-weight: 500">Sort By: 
        <a style="font-weight: 300">  Recommended |</a> 
        <a style="font-weight: 300">  Ratings  |</a> 
        <a style="font-weight: 300">  Newest </a> 
        
        
    </p>


  </div>

  <mat-card>
    <div class="row">
        <div class="col-md-2">
            <img class="rounded float-left" src="assets\images\place.jpg"/>
        </div>
        <div class="col-md-9">
          <h1 id="placeName">Place Name</h1>
          <p>some details</p>
          <p>rating</p>
        </div>
    </div>
    

  </mat-card>
</div>