
#container{
    background-image: url("../../../assets/images/bk.png");
    width: 100%;
    padding: 10px;
}
.nav{
    /* display: flex;  */
    justify-content: space-between;
}

/* Styles for tab labels */
/* .mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
}

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
} */ 

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: rgb(231, 166, 24) !important ;
}

.navA{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 16px
}
hr{
    display: inline;
}
h4 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid gray;
    line-height: 3%;
    margin: 10px 0 20px; 
    color: gray;
    
 } 
 #loginBtn{
     background-color: rgb(231, 166, 24);
 }
 
 h4 span { 
     background:#fff; 
     padding:0 10px; 
 }

.example-container,form {
   
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    background-color: white;
    padding: 5px;
    /* padding-left: 40px;
    padding-right: 40px; */
    margin: 10px;
    text-align: center;
    /* height: 500px; */
    
  }
  mat-form-field{
      padding: 3px;
      margin: 3px
  }
#enjoy{
    font-size: 30px;
    margin-bottom: -10px;
}

#profile{

    width: 100px;
    margin:10px auto;
     }

     #logo{
        width: 110px;
        margin: 10px;
    }

  h2,h5{
      text-align: center;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
  }
  h2{
      color: rgb(231, 166, 24);
      font-weight: bold;
  }
  
  a{
      padding: 2%;
      cursor: pointer;
      text-align: left;
      padding-bottom: 5px;
      
  }
  a:hover{
      text-decoration: underline;
  }
  /* h2{
      text-align: center;
      margin: 20px;
      color: rgb(233, 166, 21);
      font-family:cursive;
      font-weight: bolder;
  } */

  .shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

