img{
    width: 60px;
    margin: 0;
    padding: 0 !important;
}

nav{
    background-color: rgb(5, 62, 128)
}
/* .btn-outline-success{
    border: 2px solid yellow;
   
} */

mat-icon{
    color: lightgray;
    padding-right: 20px;
    
}

.nav-item{
    float: right;
}
