
#container{
    background-image: url("../../../assets/images/bk.png");
    width: 100%;
    padding: 10px;
}
.nav{
    /* display: flex;  */
    justify-content: space-between;
}
.navA{
    float: right;
    color: white;
    font-weight: bold;
    font-size: 16px
}

h4 {
    width: 100%; 
    text-align: center; 
    margin: 10px 0 20px; 
    color: gray;
    
 } 
 #findBtn{
     background-color: rgb(231, 166, 24);
     width: 50%;
     margin: 7px;
 }


.example-container {
   
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    background-color: white;
    padding: 10px;
    margin: 50px;
    text-align: center;
    margin-bottom: 200px;
    opacity: 0.3%;
    
  }

  img{
      width: 110px;
      margin: 10px;
      
  }
  h2,h5{
      text-align: center;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
  }
  h2{
      color: rgb(231, 166, 24);
      font-weight: bold;
  }
  
  a{
      padding: 2%;
      cursor: pointer;
      text-align: left;
      padding-bottom: 5px;
      
  }
  a:hover{
      text-decoration: underline;
  }
  /* h2{
      text-align: center;
      margin: 20px;
      color: rgb(233, 166, 21);
      font-family:cursive;
      font-weight: bolder;
  } */

  select{
      width: 90%;
      margin: 5px;

  }

  .shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

